<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <!-- layui css -->
    <link rel="stylesheet" th:href="@{/assets/layui/dist/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/assets/css/form.css}" media="all">
    <script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/assets/layui/dist/layui.js}" charset="utf-8"></script>
    <script th:src="@{/assets/ym/jt/add.js}"></script>
</head>
<style type="text/css">
    .layui-table-cell {
        height: auto;
        line-height: 28px;
        padding: 0 15px;
        position: relative;
        /*overflow: hidden;*/
        text-overflow: ellipsis;
        white-space: normal;
        box-sizing: border-box;
        overflow: auto;
    }
    .ness {
        color: red;
    }
</style>
<body>
<div class="layui-tab layui-tab-card" lay-filter="addBaseInfo">
    <ul class="layui-tab-title">
        <li lay-id="1" class="layui-this">基本信息</li>
        <li lay-id="2">家庭成员</li>
        <li lay-id="3">致贫原因及家庭人口情况</li>
        <li lay-id="4">生产生活条件</li>
        <!--<li lay-id="5">变更情况说明</li>-->
        <li lay-id="6">附加信息</li>
    </ul>

    <div class="layui-tab-content" style="height: 100%;">
        <!-- 基本信息 -->
        <div class="layui-tab-item layui-show">
            <form class="layui-form">
                <input type="hidden" name="baseid" id="baseid">
                <table width="100%" class="fp_zdtb" style=" border-collapse: collapse;" border=1 cellSpacing=0 cellPadding=0>
                    <tbody>
                    <tr>
                        <td class="jg_btbt_title" colspan="6">基本信息</td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">市<span class="ness"> *</span></td>
                        <td class="fp_nrbt">
                            <select id="shi" name="shi" lay-verify="required" lay-filter="shi" lay-search=""></select>
                        </td>
                        <td class="fp_btbt">县（市、区）<span class="ness">*</span></td>
                        <td class="fp_nrbt">
                            <select id="xian" name="xian" lay-verify="required" lay-filter="xian"
                                    lay-search=""></select>
                        </td>
                        <td class="fp_btbt">镇（乡、街道）<span class="ness">*</span></td>
                        <td class="fp_nrbt">
                            <select id="zhen" name="zhen" lay-verify="required" lay-filter="zhen" lay-search=""></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">行政村<span class="ness"> *</span></td>
                        <td class="fp_nrbt">
                            <select id="xzc" name="xzc" lay-verify="required" lay-filter="xzc" lay-search=""></select>
                        </td>
                        <td class="fp_btbt">自然村（屯）<span class="ness">*</span></td>
                        <td class="fp_nrbt">
                            <input type="zrct" name="zrct" lay-verify="required" autocomplete="off"
                                   value=""
                                   class="layui-input" lay-filter="zrct"/>
                        </td>
                        <td class="fp_btbt">联系电话<span class="ness"> *</span></td>
                        <td class="fp_nrbt">
                            <input type="lxdh" name="lxdh" id="lxdh" lay-verify="required|phone" autocomplete="off"
                                   value=""
                                   class="layui-input" lay-filter="lxdh">
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">开户银行</td>
                        <td class="fp_nrbt">
                            <div class="layui-input-inline">
                                <input type="text" name="khyh" id="khyh" autocomplete="off" class="layui-input"
                                       placeholder="（选填）" lay-filter="khyh">
                            </div>
                        </td>
                        <td class="fp_btbt">银行卡号</td>
                        <td class="fp_nrbt">
                            <input type="text" name="yhkh" id="yhkh" autocomplete="off" class="layui-input"
                                   placeholder="（选填）" lay-filter="yhkh">
                        </td>
                        <td class="fp_nrxt" colspan="2" rowspan="3"></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">贫困户属性<span class="ness"> *</span></td>
                        <td class="fp_nrbt">
                            <select name="pkhsx" id="pkhsx" lay-verify="required" lay-filter="pkhsx">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="fp_btbt">计划脱贫年度<span class="ness"> *</span></td>
                        <td class="fp_nrbt">
                            <input id="jhtpnd" type="text" name="jhtpnd" lay-verify="required"
                                   autocomplete="off" value="2020"
                                   class="layui-input"  lay-filter="jhtpnd">
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">返贫年度</td>
                        <td class="fp_nrbt">
                            <input id="fpnd" type="text" name="fpnd"
                                   autocomplete="off"
                                   class="layui-input"  lay-filter="fpnd">
                        </td>
                        <td class="fp_btbt">返贫原因</td>
                        <td class="fp_nrbt">
                            <select type="text" id="fpyy" name="fpyy"
                                   autocomplete="off" value=""
                                    class="layui-input" lay-filter="fpyy">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">是否军烈属</td>
                        <td class="fp_nrbt">
                            <select name="sfjls" id="sfjls" lay-filter="sfjls">
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">是否易地扶贫搬迁户<span class="ness"> *</span></td>
                        <td class="fp_nrbt">
                            <select name="sfbqh" id="sfbqh" lay-verify="required" autocomplete="off" lay-filter="sfbqh">
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">搬迁方式</td>
                        <td class="fp_nrbt">
                            <input type="text" id="bqfs" name="bqfs"
                                   autocomplete="off"
                                   class="layui-input" value="" lay-filter="bqfs"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">搬迁地址</td>
                        <td class="fp_nrbt" colspan="5">
                            <input type="text" id="bqdz" name="bqdz"
                                   placeholder="" autocomplete="off"
                                   class="layui-input" value="" lay-filter="bqdz"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div sec:authorize-url="/yw/jt/add" class="layui-form-item" style="margin-top: 20px">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="base1">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 家庭成员 -->
        <div class="layui-tab-item">
            <table id="tableMember" lay-filter="tableMember"></table>
        </div>
        <!-- 致贫原因及家庭人口情况 -->
        <div class="layui-tab-item">
            <form class="layui-form">
                <input type="hidden" name="additionid" id="additionid"/>

                <table width="100%" class="fp_zdtb" style=" border-collapse: collapse;" border=1 cellSpacing=0 cellPadding=0>
                    <tbody>
                        <tr>
                            <td class="jg_btbt_title" colspan="6">致贫原因及家庭人口情况</td>
                        </tr>
                        <tr>
                            <td class="fp_btbt">致贫原因1<span style="color: red">（必填）</span></td>
                            <td class="fp_nrbt">
                                <select id="zpyy1" name="zpyy1"
                                        class="layui-unselect layui-form-select" style="width: 100%;" lay-filter="zpyy1">
                                    <option value="">请选择</option>
                                </select>
                            </td>
                            <td class="fp_btbt">致贫原因2（选填）</td>
                            <td class="fp_nrbt">
                                <select id="zpyy2" name="zpyy2"
                                        class="layui-unselect layui-form-select" style="width: 100%;"
                                        lay-filter="zpyy2">
                                    <option value="">请选择</option>
                                </select>
                            </td>
                            <td class="fp_btbt">致贫原因3（选填）</td>
                            <td class="fp_nrbt">
                                <select id="zpyy3" name="zpyy3"
                                        class="layui-unselect layui-form-select" style="width: 100%;"
                                        lay-filter="zpyy3">
                                    <option value="">请选择</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="fp_btbt">年初家庭人口数</td>
                            <td class="fp_nrbt"><input id="ncjtrks" name="ncjtrks" class="layui-input" lay-filter="ncjtrks"/></td>
                            <td class="fp_btbt">年底家庭人口数</td>
                            <td class="fp_nrbt"><input id="nmjtrks" name="nmjtrks" class="layui-input" lay-filter="nmjtrks"/></td>
                            <td class="fp_btbt">年度</td>
                            <td class="fp_nrbt">
                                <input id="jtrknd" type="text" name="jtrknd"
                                       autocomplete="off"
                                       class="layui-input" placeholder="人口数对应的年度" lay-filter="jtrknd" >
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div sec:authorize-url="/yw/jt/addZpyy" class="layui-form-item" style="margin-top: 20px">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="base3">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 生产生活条件 -->
        <div class="layui-tab-item">
            <form class="layui-form">
                <input type="hidden" name="conditionid" id="conditionid"/>
                <table width="100%" class="fp_zdtb" style=" border-collapse: collapse;" border=1 cellSpacing=0 cellPadding=0>
                    <tbody>
                    <tr>
                        <td class="jg_btbt_title" colspan="8">生产生活条件</td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">耕地面积（亩）</td>
                        <td class="fp_nrbt">
                            <input name="gdmj" class="layui-input"/>
                        </td>
                        <td class="fp_btbt">林地面积（亩）</td>
                        <td class="fp_nrbt">
                            <input name="ldmj" class="layui-input"/>
                        </td>
                        <td class="fp_btbt">退耕还林面积（亩）</td>
                        <td class="fp_nrbt">
                            <input name="tghlmj" class="layui-input"/>
                        </td>
                        <td class="fp_btbt">林果面积（亩）</td>
                        <td class="fp_nrbt">
                            <input name="lgmj" class="layui-input"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">牧草地面积（亩）</td>
                        <td class="fp_nrbt">
                            <input name="mcdmj" class="layui-input"/>
                        </td>
                        <td class="fp_btbt">水面面积（亩）</td>
                        <td class="fp_nrbt">
                            <input name="smmj" class="layui-input"/>
                        </td>
                        <td class="fp_nrxt" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">是否加入农民专业合作社</td>
                        <td class="fp_nrbt">
                            <select name="sfjrnmzyhzs" class="layui-input" >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>

                            </select>
                        </td>
                        <td class="fp_btbt">是否有龙头企业带动</td>
                        <td class="fp_nrbt">
                            <select name="sfyltqybz" class="layui-input" >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">是否有致富带头人带动</td>
                        <td class="fp_nrbt">
                            <select name="sfycyzfdtrdd" class="layui-input" >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">是否通生活用电</td>
                        <td class="fp_nrbt">
                            <select name="sftshyd" class="layui-input" >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">是否通广播电视</td>
                        <td class="fp_nrbt">
                            <select name="sftgbds" class="layui-input" >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">是否解决安全饮用水</td>
                        <td class="fp_nrbt">
                            <select name="sfjjaqyys" class="layui-input"  >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">是否有卫生厕所</td>
                        <td class="fp_nrbt">
                            <select name="sfywscs" class="layui-input" >
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_nrxt" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">与村主干路距离(公里)</td>
                        <td class="fp_nrbt">
                            <input name="yczgljl" class="layui-input" style="width: 60px"/>
                        </td>
                        <td class="fp_btbt">入户路类型</td>
                        <td class="fp_nrbt">
                            <select id="rhllx" name="rhllx" class="layui-input" style="width: 100px">
                                <option value="" selected>请选择</option>
                            </select>
                        </td>
                        <td class="fp_btbt">住房面积（㎡）</td>
                        <td class="fp_nrbt">
                            <input name="zfmj" class="layui-input" style="width: 60px"/>
                        </td>
                        <td class="fp_btbt">是否危房户</td>
                        <td class="fp_nrbt">
                            <select name="sfwf" class="layui-input" style="width: 60px">
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">危房级别</td>
                        <td class="fp_nrbt">
                            <select id="wfjb" name="wfjb" class="layui-input" style="width: 60px">
                                <option value="" selected>请选择</option>
                            </select>
                        </td>
                        <td class="fp_btbt">危改年度</td>
                        <td class="fp_nrbt">
                            <input id="wgnd" name="wgnd" class="layui-input" style="width: 60px"/>
                        </td>
                        <td class="fp_btbt">主要燃料类型</td>
                        <td class="fp_nrbt">
                            <select id="zyrllx" name="zyrllx" class="layui-input" lay-filter="zyrllx"
                                    style="width: 100px">
                                <option value="" selected>请选择</option>

                            </select>
                        </td>
                        <td class="fp_btbt" id="label_jtrlmc">具体燃料名称</td>
                        <td class="fp_nrbt">
                            <input id="jtrlmc" name="jtrlmc" autocomplete="off" lay-filter="jtrlmc"
                                   class="layui-input layui-disabled" disabled="" style="width: 160px"/>
                        </td>
                    </tbody>
                </table>
                <div sec:authorize-url="/yw/jt/addScshtj" class="layui-form-item" style="margin-top: 20px">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="base4">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 变更情况说明
        <div class="layui-tab-item">
            <form class="layui-form">
                <input type="hidden" name="changeid" id="changeid"/>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">变更情况说明</label>
                    <div class="layui-input-block">
                        <textarea name="nr" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div sec:authorize-url="/yw/jt/addBgqksm" class="layui-form-item" style="margin-top: 20px">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="base5">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                </div>
            </form>
        </div>-->
        <!-- 新增字段-->
        <div class="layui-tab-item">
            <form class="layui-form" lay-filter="form6">
                <table width="100%" class="fp_zdtb" style=" border-collapse: collapse;" border=1 cellSpacing=0 cellPadding=0>
                    <tr>
                        <td class="jg_btbt_title" colspan="6">附加信息</td>
                    </tr>
                    <tr class="fp_btbt">
                        <td class="fp_btbt">安置点</td>
                        <td class="fp_nrbt"><input id="azd" name="azd" lay-filter="azd" type="text"/></td>
                        <td class="fp_btbt">楼栋房号</td>
                        <td class="fp_nrbt"><input id="ldfh" name="ldfh" lay-filter="ldfh" type="text"/></td>
                        <td class="fp_btbt">年度搬迁任务</td>
                        <td class="fp_nrbt"><input id="ndbqrw" name="ndbqrw" lay-filter="ndbqrw" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">迁出地详细地址</td>
                        <td class="fp_nrbt" colspan="5"><input id="qcdxxdz" name="qcdxxdz" lay-filter="qcdxxdz" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">迁出地类型</td>
                        <td class="fp_nrbt" colspan="5"><input id="qcdlx" name="qcdlx" lay-filter="qcdlx" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">家庭受益人口</td>
                        <td class="fp_nrbt"><input id="jtsyrk" name="jtsyrk" lay-filter="jtsyrk" type="text"/></td>
                        <td class="fp_btbt">住房面积㎡</td>
                        <td class="fp_nrbt"><input id="zfmj" name="zfmj" lay-filter="zfmj" type="text"/></td>
                        <td class="fp_btbt">自筹资金（元）</td>
                        <td class="fp_nrbt"><input id="zczj" name="zczj" lay-filter="zczj" type="text"/></td>
                    </tr>
                    <td class="fp_btbt">搬迁入住时间</td>
                    <td class="fp_nrbt"><input id="bqrzsj" name="bqrzsj" lay-filter="bqrzsj" type="text"/></td>
                    <td class="fp_btbt">实际入住时间</td>
                    <td class="fp_nrbt"><input id="sjrzsj" name="sjrzsj" lay-filter="sjrzsj" type="text"/></td>
                    <td class="fp_nrxt" colspan="2" rowspan="3"></td>
                    <tr>
                        <td class="fp_btbt">原有住房（类型）</td>
                        <td class="fp_nrbt"><input id="yyzf" name="yyzf" lay-filter="yyzf" type="text"/></td>
                        <td class="fp_btbt">原有住房面积㎡</td>
                        <td class="fp_nrbt"><input id="yyzfmj" name="yyzfmj" lay-filter="yyzfmj" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">拆除住房</td>
                        <td class="fp_nrbt"><input id="ccjf" name="ccjf" lay-filter="ccjf" type="text"/></td>
                        <td class="fp_btbt">保护住房种类</td>
                        <td class="fp_nrbt"><input id="bhzfzl" name="bhzfzl" lay-filter="bhzfzl" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">拆除时间</td>
                        <td class="fp_nrbt"><input id="ccsj" name="ccsj" lay-filter="ccsj" type="text"/></td>
                        <td class="fp_btbt">拆除旧房面积㎡</td>
                        <td class="fp_nrbt"><input id="ccjfmj" name="ccjfmj" lay-filter="ccjfmj" type="text"/></td>
                        <td class="fp_btbt">兑现拆房奖励（元）</td>
                        <td class="fp_nrbt"><input id="dxcfjl" name="dxcfjl" lay-filter="dxcfjl" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">复垦复绿情况</td>
                        <td class="fp_nrbt"><input id="fkflqk" name="fkflqk" lay-filter="fkflqk" type="text"/></td>
                        <td class="fp_btbt">产业扶持项目</td>
                        <td class="fp_nrbt"><input id="cyfcxm" name="cyfcxm" lay-filter="cyfcxm" type="text"/></td>
                        <td class="fp_btbt">年内获得产业扶持资金（元）</td>
                        <td class="fp_nrbt"><input id="nnhdcyfczj" name="nnhdcyfczj" lay-filter="nnhdcyfczj" type="text"/></td>
                    </tr>
                    <tr>
                        <td class="fp_btbt">脱贫情况</td>
                        <td class="fp_nrbt"><input id="tpqk" name="tpqk" lay-filter="tpqk" type="text"/></td>
                        <td class="fp_btbt">户口迁移</td>
                        <td class="fp_nrbt">
                            <select name="hkqy" class="layui-input" style="width: 60px">
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                        <td class="fp_btbt">房产证办理获取</td>
                        <td class="fp_nrbt">
                            <select name="fczblhq" class="layui-input" style="width: 60px">
                                <option value="">请选择</option>
                                <option value="Y">是</option>
                                <option value="N">否</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div sec:authorize-url="/yw/jt/updateQTXX" class="layui-form-item" style="margin-top: 20px">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="base6">提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="tableMemberToolbar">
    <div sec:authorize-url="/yw/jt/cyAdd" class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">新增家庭成员</button>
        <!--<button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除家庭成员</button>-->
    </div>
</script>

<script type="text/html" id="tableMemberBar">
    <a sec:authorize-url="/yw/jt/cyAdd" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a sec:authorize-url="/yw/jt/delCy" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    var getBaseID = function() {
        return $("#baseid").val();
    }
</script>
</html>