<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- layui css -->
    <link rel="stylesheet" href="/assets/layui/dist/css/layui.css" th:href="@{/assets/layui/dist/css/layui.css}"
          media="all">

    <div th:replace="common/common_headcontent :: headcontent"></div>

    <link rel="stylesheet" href="/assets/css/select2.min.css" th:href="@{/assets/css/select2.min.css}"/>
    <link rel="stylesheet" href="/assets/css/jquery-ui.custom.min.css"
          th:href="@{/assets/css/jquery-ui.custom.min.css}"/>
</head>

<body class="no-skin">
<div th:replace="common/common_headline :: headline"></div>

<form id="subform" action="/logout" method="post">
    <!--<input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }"/>-->
</form>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <div th:replace="common/common_menu"></div>
        <!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">主页</a>
                    </li>

                    <li>
                        <a href="javascript:;">安置点</a>
                    </li>
                    <li class="active">安置点列表</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </FORM>
                </div>

                <div class="page-content">
                    <div class="page-header">
                        <h1>安置点列表 </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <div class="hr dotted"></div>

                            <div>
                                <div class="row search-page" id="search-page-1">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12" id="items">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hide">
                                <div class="row search-page" id="search-page-2">
                                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                                        <div class="search-area well no-margin-bottom">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="search"
                                                                   value="Hello World"/>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-primary btn-sm">
                                                                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <div class="space space-6"></div>
                                            <span class="grey">About 263,000,000 results (0.74 seconds)</span>
                                        </div>

                                        <div class="search-results">
                                            <div class="search-result">
                                                <h5 class="search-title">
                                                    <a href="#">&quot;Hello, World!&quot; - Wikipedia, the free
                                                        encyclopedia</a>
                                                </h5>
                                                <a class="text-success" href="#">en.wikipedia.org</a>

                                                <p class="search-content">
                                                    A &quot;
                                                    <b>Hello</b>
                                                    ,
                                                    <b>World</b>
                                                    !&quot; program is a computer program that outputs &quot;
                                                    <b>Hello</b>
                                                    ,
                                                    <b>World</b>!&quot; (or some variant thereof) on a display device.
                                                    Because it is typically one of the ...
                                                </p>
                                            </div>

                                            <div class="search-result">
                                                <h5 class="search-title">
                                                    <a href="#">Hello World! - GNU Project</a>
                                                </h5>
                                                <a class="text-success" href="#">www.gnu.org</a>

                                                <p class="search-content">
                                                    <b>Hello World</b>
                                                    ! How the way people code “
                                                    <b>Hello World</b>” varies depending on their age and job ...
                                                </p>
                                            </div>

                                            <div class="search-result">
                                                <h5 class="search-title">
                                                    <a href="#">HelloWorld.java - Introduction to Programming in
                                                        Java</a>
                                                </h5>
                                                <a class="text-success" href="#">introcs.cs.princeton.edu</a>

                                                <p class="search-content">
                                                    <b>HelloWorld</b>
                                                    code in Java. ...
                                                    <b>HelloWorld</b>
                                                    .java. Below is the syntax highlighted version of
                                                    <b>HelloWorld</b>.java from ...
                                                </p>
                                            </div>

                                            <div class="search-result">
                                                <h5 class="search-title">
                                                    <a href="#">Hello, World! - Learn Python - Free Interactive Python
                                                        Tutorial</a>
                                                </h5>
                                                <a class="text-success" href="#">www.learnpython.org</a>

                                                <p class="search-content">
                                                    <b>Hello</b>
                                                    ,
                                                    <b>World</b>! Python is a very simple language, and has a very
                                                    straightforward syntax. It encourages programmers to program without
                                                    boilerplate (prepared) ...
                                                </p>
                                            </div>

                                            <div class="search-result">
                                                <h5 class="search-title">
                                                    <a href="#">Hello World · GitHub Guides</a>
                                                </h5>
                                                <a class="text-success" href="#">guides.github.com</a>

                                                <p class="search-content">
                                                    The
                                                    <b>Hello World</b>
                                                    project is a time-honored tradition in computer programming. It is a
                                                    simple exercise that gets you started when learning something new.
                                                    Let's get ...
                                                </p>
                                            </div>
                                        </div>

                                        <div class="search-area well well-sm text-center">
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li>
                                                    <a href="#">4</a>
                                                </li>

                                                <li>
                                                    <a href="#">5</a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div>
    </div>
    <!-- /.main-content -->

    <div class="footer" th:include="common/common_footer :: copyright">
    </div>

    <div th:replace="common/common_footer :: #btn-scroll-up"></div>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script th:src='@{/assets/js/jquery.mobile.custom.min.js}'>" + "<" + "/script>");
</script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>

<!-- inline scripts related to this page -->

<script th:src="@{/assets/layui/dist/layui.js}" charset="utf-8"></script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button sec:authorize-url="/jt/add" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add">新增</button>
        <button sec:authorize-url="/jt/delAll" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除
        </button>
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->

        <input sec:authorize-url="/yw/azd/getFwxxList" id="search_name" type="text" style="height: 33px;margin: 0 0 10px 120px;" class="layui-input-inline"
               placeholder="请输入姓名">
        <input sec:authorize-url="/yw/azd/getFwxxList" id="search_sfzhm" type="text" style="height: 33px;margin: 0 0 10px 10px;" class="layui-input-inline"
               placeholder="请输入身份找号码">
        <button sec:authorize-url="/yw/azd/getFwxxList" id="search_btn" style="margin-left: 20px" class="layui-btn layui-btn-sm" lay-event="search">搜索</button>
    </div>
</script>

<script th:src="@{/assets/ym/azd/index.js}"></script>
</body>
</html>
